<!DOCTYPE html>
<html>

<head>
    <title>Truck Rentals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<% if(message.length > 1){ %>
    <script>
        alert("<%= message %>");
    </script>
<% } %>

<body style="background-color: beige">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/<%= id %>/transactions">Truck Rental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/<%= id %>/transactions">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/<%= id %>/trucks">Trucks</a>
                </li>
                <li class="active nav-item">
                    <a class="nav-link" href="/<%= id %>/addTruck">Add Truck</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://rentals.com">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card card-register mx-2 mt-4">
            <!--card header-->
            <div class="card-header">Add A Truck</div>
            <div class="card-body">
                <!--inputs-->
                <form method="POST" action="/<%= id %>/addTruck">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleFormControlSelect1">Truck Category</label>
                                <select class="form-control" id="TruckCategory" name="category" required="required">
                                    <option> Choose a category </option>
                                    <option>Ultra Truck</option>
                                    <option>Mega Truck</option>
                                    <option>Semi Truck</option>
                                    <option>Small Truck</option>
                                    <option>Mini Truck</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Truck Name</label>
                                <input class="form-control" id="Tname" name="name" type="text" placeholder="Enter Truck Name" required="required">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="exampleInputEmail1">Capacity</label>
                                <input class="form-control" id="capacity" name="capacity" type="number" required="required" placeholder="Capacity in Kilograms"
                                    min="100">
                            </div>
                            <div class="col-md-4">
                                <label for="exampleInputEmail1">Cost</label>
                                <input class="form-control" id="cost" name="cost" type="number" placeholder="Enter the price in Peso" required="required">
                            </div>
                            <div class="col-md-4">
                                <label for="exampleFormControlSelect1">Number of Wheels</label>
                                <select class="form-control" id="TruckWheels" name="number_of_wheels">
                                    <option> Choose a number</option>
                                    <option>4</option>
                                    <option>6</option>
                                    <option>8</option>
                                    <option>10</option>
                                    <option>12</option>
                                    <option>14</option>
                                    <option>16</option>
                                    <option>18</option>
                                    <option>20</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleFormControlSelect1">Status</label>
                                <select class="form-control" id="Status" name="status">
                                    <option>Choose a status</option>
                                    <option>Available</option>
                                    <option>Pending</option>
                                    <option>Not Available</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Plate Number: </label>
                                <input class="form-control" id="license_number" name="license_number" type="text" placeholder="Enter License Number (Ex. ABC 0123)"
                                    maxlength="8" required="required">
                            </div>
                            <div class="col-md-6">
                                <label class="custom-file">
                                    <input type="file" id="image" class="custom-file-input">
                                    <span class="custom-file-control"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--add truck button-->
                    <input type="submit" value="Add Truck" class="btn btn-warning btn-block"></input>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
</body>

</html>