<!DOCTYPE html>
<html>

<head>
    <title>Truck Rentals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: dimgray">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/<%= id %>/transactions">Truck Rental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/<%= id %>/transactions">Transactions</a>
                </li>
                <li class="active nav-item">
                    <a class="nav-link" href="/<%= id %>/trucks">Trucks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/<%= id %>/addTruck">Add Truck</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://rentals.com">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid lead" style="padding: 0px 20px; ">
        <!--sample table-->

        <div class="row" style="padding-top: 50px;">
            <div class="col-sm-12">
                <div class="card" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);">
                    <div class="card-header heading">
                        <div>
                            <h2 class="text-dark text-center" data-toggle="tooltip" data-placement="top" title="Select an item to view more details.">TRUCKS</h2>
                        </div>
                    </div>
                    <div class="lead" style=" margin: 10px">
                        <br>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <h3>Truck</h3>
                                    </th>
                                    <th>
                                        <h3>License Plate</h3>
                                    </th>
                                    <th>
                                        <h3>Capacity</h3>
                                    </th>
                                    <th>
                                        <h3>Category</h3>
                                    </th>
                                    <th>
                                        <h3>Number of Wheels</h3>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <% for(i in transactions) { %>

                                    <tr data-toggle="modal" data-target="#requestModal">
                                        <td>
                                            <%= transactions[i].name %>
                                        </td>
                                        <td>
                                            <%= transactions[i].license_number %>
                                        </td>
                                        <td>
                                            <%= transactions[i].capacity %>
                                        </td>
                                        <td>
                                            <%= transactions[i].category %>
                                        </td>
                                        <td>
                                            <%= transactions[i].number_of_wheels %>
                                        </td>
                                    </tr>

                                    <% } %>
                            </tbody>
                        </table>

                        <!-- REQUEST Modal -->
                        <div class="modal fade" id="requestModal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header headimg">
                                        <h4 class="modal-title">Rent Request</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">

                                        <!--TRUCK MORE DETAILS -->
                                        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                                            <ul class="carousel-indicators">
                                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                                <li data-target="#demo" data-slide-to="1"></li>
                                            </ul>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                                                    <!--IMAGE-->
                                                    <img src="pics/ht.jpg" id="truckimg" class="img-thumbnail float-left img-fluid" alt="truckimage"> Plate Number: ABC 123
                                                    <br> Number of Wheels: 10
                                                    <br> Transmission: manual
                                                    <br> OTHER DETAIL: yes
                                                    <br>
                                                </div>
                                                <!--RENT REQUEST SLIDE-->
                                                <div class="carousel-item">
                                                    <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            Number of days to rent:
                                                            <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter number of days">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            Starting day of use:
                                                            <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter starting date">
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!--right controls -->
                                            <a class="carousel-control-next" href="#demo" data-slide="next" style="width: 20px;">
                                                <span class="carousel-control-next-icon bg-secondary"></span>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success">
                                            <a class="text-light" href="#">login first</a>
                                        </button>
                                        <button type="button" class="btn btn-warning text-light" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--end modal-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>